name: PR Merged Message

on:
    push:
        branches:
            - dev
            - main
jobs:
    say-hello:
        runs-on: unbuntu-latest
        steps:
            run: echo "This is the pr m,erged success message"
